@media (max-width: 1000px) {
  .header {
    padding: 2em 3em;
    display: flex;
    justify-content: space-between;
  }
  .links {
    display: none;
  }
  .header.sticky {
    display: none;
  }
  .logo {
    padding-top: 0em;
  }
  .toggles {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .toggles:before {
    content: "";
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: #00ccff;
    z-index: 1;
    box-shadow: 0 10px 0 #00ccff;
    transition: 0.5s;
  }
  .toggles:after {
    content: "";
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #00ccff;
    z-index: 1;
    transition: 0.5s;
  }

  .strok {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 50px 40px;
    overflow: auto;
    transition: 0.5s;
    background: rgba(255, 255, 255, 1);
    flex-direction: column;
    top: 7em;
  }
  .strok a {
    font-size: 1.2em;
    font-weight: 600;
    color: #00ccff;
  }
  .header.active .strok {
    display: flex;
    opacity: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
    transform: translate(0);
  }
  .header.active .toggles:before {
    top: 14px;
    transform: rotate(45deg);
    box-shadow: 0 0 0 #fff;
  }
  .header.active .toggles:after {
    bottom: 14px;
    transform: rotate(-45deg);
  }

  /*Header Style Ends*/

  /*First Section - Begin*/

  .firstSection {
    min-height: 90vh;
    padding: 5em 6em;
  }

  /*Page Info Style Begins*/

  .pageInfo {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5em;
  }

  .info {
    top: 2.5em;
    font-size: 3.5em;
    font-weight: 600;
  }

  .info2 {
    top: 6em;
    font-size: 3.5em;
    display: flex;
    flex-direction: column;
    font-weight: 600;
  }

  .carousel {
    width: 100%;
  }

  /*Page Info Style Begins*/

  /*Mid Page Style Begins*/

  .vector {
    opacity: 0.3;
  }

  /*End*/

  /*Second Section - Begin*/

  .secondSection {
    position: relative;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
    border: none;
  }

  .keyData {
    flex-direction: column;
    padding: 4em 2em;
    position: relative;
    border: none;
  }

  .subjectTitle {
    font-size: 2em;
  }

  .impSummary {
    flex-direction: column;
    gap: 2em;
    width: 100%;
    padding: 1em 3em;
  }

  .impCat {
    gap: 3em;
    width: 100%;
  }

  .impStatement {
    flex-direction: column;
    align-items: left;
    width: 100%;
  }

  .bigText {
    font-size: 1.5em;
    line-height: 1.6em;
  }

  .benefits {
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 0;
    padding: 7em 6em;
    padding-bottom: 5em;
    gap: 4em;
  }

  .cSummary,
  .container {
    width: 100%;
  }

  .bigContainer {
    flex-direction: column;
    align-items: center;
    gap: 4em;
    width: 100%;
  }

  .mContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    width: 100%;
  }

  .smallContainer {
    align-items: left;
    gap: 2.5em;
    flex-direction: row;
    width: 100%;
  }

  .bdyInfo {
    width: 100%;
  }

  /*End*/

  /*Third Section - Begin*/

  .thirdSection {
    padding: 8em 5em;
    gap: 6em;
  }

  .ctWords {
    font-size: 2em;
  }

  .ctbdyInfo {
    font-size: 0.9em;
  }

  .midContainer {
    flex-direction: column;
    gap: 6em;
    padding-top: 0em;
  }

  /*End*/

  /*Fourth Section - Begin*/

  .sixthSection {
    position: relative;
    width: 100%;
    background: var(
      --linear-gradient,
      linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%)
    );
    padding: 5em 3em;
  }
  .fourthSection {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 3em 1em;
  }
  .thContainer1 {
    justify-content: center;
    gap: 2em;
  }
  .footImage2,
  .footImage1 {
    display: none;
  }
  .hlmainHeader1 {
    font-size: 1.8em;
  }
  .uaButtons {
    padding: 1em 3.3em;
  }

  /*End*/

  /*Fifth Section - Begin*/

  .contactContainer {
    padding: 5em 5em;
    gap: 5em;
    flex-direction: column;
  }

  /*End*/

  /*Footer - Begin*/

  .footer {
    padding: 5em 5em;
    gap: 5em;
  }

  .ftLogo {
    gap: 1em;
  }

  .justPad {
    flex-direction: column;
  }

  .ftcontainer {
    flex-direction: row;
  }

  .ftcontainer1 {
    flex-direction: row;
    gap: 3.5em;
  }

  .myContainer {
    width: 100%;
  }

  .ftLetters {
    display: flex;
    padding: 0px 1em;
    justify-content: right;
    align-items: right;
    gap: 0.5em;
    position: relative;
    top: 40em;
    color: #fff;
    font-weight: 600;
    font-size: 0.9em;
    font-family: Gilroy-Medium;
    line-height: 1.25em;
  }

  .changeColour {
    color: #ffffff;
  }

  /*End*/
}

@media (max-width: 700px) {
  .firstSection {
    padding: 7em 3em;
  }
  .info,
  .info2 {
    font-size: 3em;
  }
  .infos {
    font-size: 1em;
  }
  .changeColor {
    font-weight: 600;
  }
  .secondSection {
    position: relative;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .miniContainer {
    border: rgba(242, 242, 242, 0.536);
  }
  .pageInfo {
    gap: 4em;
  }
  .splitter {
    flex-direction: column;
  }
  .splitter .ref {
    display: flex;
    justify-content: center;
  }
  .mainHeader {
    font-size: 1.35em;
  }
  .description {
    line-height: 1.5em;
  }
  .footer {
    flex-direction: column;
  }
}

@media (max-width: 560px) {
  .firstSection {
    padding: 5em 3em;
    height: 90%;
    max-width: 100%;
  }
  .pageInfo {
    gap: 3em;
  }
  .info2,
  .info {
    font-size: 2.5em;
  }
  .carousel {
    width: 100%;
  }
  .vector {
    display: none;
  }
  .secondSection {
    height: 100%;
  }
  .keyData {
    padding: 7em 1em;
    position: relative;
  }
  .impSummary {
    gap: 3em;
  }
  .impStatement {
    width: 100%;
  }
  .bigText {
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .benefits {
    top: auto;
    padding: 7em 3em;
    gap: 5em;
    background-image: url(images/footerImage.svg);
    background-size: cover;
  }
  .ctWord {
    font-size: 2em;
  }
  .cSummary {
    font-size: 1em;
  }
  .ctWords {
    font-size: 1.6em;
  }
  .bdyHead {
    font-size: 1.5em;
  }
  .thirdSection {
    padding: 9em 4em;
    gap: 6em;
  }
  .miniContainer {
    border: rgba(242, 242, 242, 0.536);
  }
  .description,
  .listNum,
  .ctbdyInfo {
    font-size: 0.9em;
  }
  .midContainer {
    gap: 5em;
  }
  .splitter {
    flex-direction: column;
  }
  .hlmainHeader1 {
    font-size: 1.3em;
    /*color: #fe5d00;*/
    color: rgba(121, 116, 108, 0.942);
    font-weight: bold;
    text-transform: uppercase;
  }
  .sixthSection {
    display: none;
  }
  .uaButtons {
    display: none;
    padding: 0.7em 2em;
    border: 0.01em solid #fff;
    font-size: 0.9em;
  }
  .uaButtons:hover {
    padding: 0.7em 2em;
    border: 0.01em solid #fff;
    font-size: 0.9em;
  }
  .icon {
    font-size: 1.1em;
  }
  .infoContact {
    gap: 1em;
    padding: 2em 2em;
  }
  .contactContainer {
    padding: 7em 3em;
    gap: 5em;
  }
  .iconItems {
    gap: 1em;
    line-height: 1.2em;
    padding: 1.2em 0;
  }
  .optionsDes,
  .inputDes {
    font-size: 0.9em;
  }
  .inputDes::placeholder {
    font-size: 0.9em;
  }
  .messageDes {
    font-size: 0.9em;
  }
  .messageDes::placeholder {
    font-size: 0.9em;
  }
  .uaButton2 {
    padding: 0.7em 2em;
    border-radius: 7px;
    font-size: 0.9em;
  }
  .uaButton2:hover {
    font-size: 0.9em;
  }
  .footer {
    padding: 6em 2em;
    gap: 4em;
  }
  .ftLogo {
    padding: 0;
  }
  .ftcontainer,
  .ftcontainer1 {
    flex-direction: row;
    display: flex;
    gap: 0em;
    justify-content: space-between;
    width: 100%;
  }
  .myContainer {
    padding: 0;
  }
  .contHeaders {
    font: 1.2em;
  }
  .ftItems {
    font-size: 0.9em;
  }
  .ftLetters {
    display: flex;
    padding: 0px 1em;
    justify-content: right;
    align-items: right;
    gap: 0.5em;
    position: relative;
    top: 40em;
    color: #fff;
    font-weight: 600;
    font-size: 0.9em;
    font-family: Gilroy-Medium;
    line-height: 1.25em;
  }
  .changeColour {
    color: #ffffff;
  }
}
