@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

/*Element/Tag Styles*/
body {
  color: #141414;
}

.manImaged {
  display: none;
}

.soto {
  display: flex;
}

a {
  text-decoration: none;
  height: 1.38em;
}

a img {
  padding-left: 0.5em;
}

/*Classes Styles in Website*/

/*General Class Styles*/

.changeColors {
  color: #fe5d00;
}

.linked:hover,
.changeColor {
  color: #00ccff;
  text-decoration: none;
}

/*Header Style Begin*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5em 1em;
  justify-content: center;
  gap: 6em;
  width: 100%;
  background-color: #111111b3;
  transition: 0.7s ease-in;
  z-index: 50;
  position: absolute;
}

.header.sticky {
  background-color: #111;
  position: fixed;
  padding: 1em 0em;
}

.header.sticky .logoImage {
  width: 12em;
}

.toggles {
  display: none;
}

.logoImage {
  width: 14em;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.linked {
  color: #fff;
  font-family: Gilroy-Medium;
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 0.09em;
}

.linked:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.strok {
  display: none;
}

/*Header Style Ends*/

/*First Section - Begin*/

.firstSection {
  position: relative;
  background: url(images/Ikoyi-H2.jpg);
  min-height: 95vh;
  width: 100%;
  background-size: cover;
  transition: 1s ease-in-out;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5em 6em;
  padding-top: 12em;
}

/*Page Info Style Begins*/

.pageInfo {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: left;
  gap: 5em;
  flex-direction: column;
}

.infos {
  font-family: "Gilroy-Medium";
  font-weight: 500;
  font-size: 2em;
  color: #f9fbfd;
}

.seperate {
  display: flex;
  flex-direction: column;
}

.seperate1 {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: baseline;
}

.info2,
.info {
  display: flex;
  font-family: "Gilroy-Medium";
  font-size: 5em;
  line-height: normal;
  letter-spacing: 4px;
  align-items: left;
  color: #f9fbfd;
}

.carousel {
  width: 100%;
}

/*Page Info Style Begins*/

/*Mid Page Style Begins*/
span .active {
  color: #00ccff;
}

.uaButton {
  padding: 1.25em 3em;
  gap: 0.63em;
  border: none;
  background: #fe5d00;
  border-radius: 2px;
  font-family: "Gilroy-Medium";
  font-weight: 500;
  font-size: 1em;
  color: #ffffff;
}

.uaButton:hover {
  font-size: 1em;
  color: #fe5d00;
  top: 2em;
  background-color: #ffffff;
  text-decoration: none;
  box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.07);
}

/*End*/

/*Second Section - Begin*/

#second, .secondSection {
  position: relative;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 2s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.tag1 {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 3s;
}

.tag1.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.tag2 {
  opacity: 0;
  transform: translate(0, -10vh);
  transition: all 5s;
}

.tag2.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.keyData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4em 7em;
  gap: 5em;
  width: 100%;
  position: relative;
  left: calc(50% - 100% / 2);
  background: #f9fbfd;
}

.subjectTitle {
  font-family: "Gilroy-Bold";
  font-size: 2.5em;
  line-height: 1.2em;
  color: #141414;
}

.subjectTitleA {
  font-family: "Gilroy-Bold";
  font-size: 2em;
  line-height: 1.2em;
  color: #fff;
}

.milk {
  display: none;
}

.impSummary {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2em;
}

.impCat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 25em;
  gap: 3em;
}

.impStatement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7em;
}

.bigText {
  font-family: "Gilroy-Medium";
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.5em;
  color: #00ccff;
}

.smallText {
  font-family: "Gilroy-Medium";
  font-size: 1em;
  line-height: 1.35em;
  color: #141414;
}

.benefitSA {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6em 6em;
  position: relative;
  justify-content: center;
}

.benefitSB {
  padding: 5em 10em;
  background-color: #fff;
  text-align: center;
  position: relative;
}

.imageback {
  background-image: url(images/flafofnig.png);
  background-size: cover;
}

.imageFront {
  background-color: #000000ab;
  padding: 6em 5em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
  align-items: center;
}

.dix {
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;

}

.benefits {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6em 6.25em;
  padding-top: 15em;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 7em;
}

.benefit {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6em 6.25em;
  position: relative;
  justify-content: left;
  align-items: center;
}

.rate {
  width: 50%;
}

.mediapage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageOne img{
  width: 35em;
  border-radius: 0.7em;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.imageTwo {
  transition: 1s ease-in;
}

.imageTwo img{
  width: 10em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
  transition: 1s ease-out;
}

.imageSafe img {
  width: 40em;
  border-radius: 0em;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

.ftWordA {
  font-family: "Gilroy-Bold";
  font-size: 1.5em;
  color: #141414;
  text-align: center;
}

.ftWordB {
  font-family: "Gilroy-Medium";
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: #fff;
}

.ftWord {
  font-family: "Gilroy-Bold";
  font-size: 1.5em;
  color: #141414;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.ctWord {
  font-family: "Gilroy-Bold";
  font-size: 2.5em;
  line-height: 2em;
  color: #141414;
}

.bdyInfo,
.cSummary {
  font-family: "Gilroy-Medium";
  font-size: 1.4em;
  line-height: 1.75em;
  color: #141414;
}

.bigContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bdyHead {
  font-family: "Gilroy-Medium";
  font-weight: 600;
  font-size: 2em;
  line-height: 1.75em;
  color: #141414;
}

/*End*/

/*Third Section - Begin*/

.thirdSection {
  position: relative;
  width: 100%;
  display: flex;
  padding: 10em 0em;
  flex-direction: column;
  align-items: center;
  background: #fff;
  gap: 4em;
}

.containerTop {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  padding: 0em 6.25em;
}

.miniCT {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.ctWords {
  font-family: "Gilroy-Bold";
  font-size: 2.3em;
  color: #141414;
  text-align: center;
}

.ctbdyInfo {
  text-align: center;
  font-size: 1.4em;
  font-family: Gilroy-Medium;
  line-height: 1.75em;
}

.midContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8em;
  padding-top: 2em;
}

.miniContainer {
  background: var(--neutral-white, #fff);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  position: relative;
  padding: 0 6.25em;
}

.allIneed{
  display: flex;
  gap: 2em;
  border: 0.4px solid rgba(167, 164, 164, 0.464);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  padding: 2em 2em 2em 2em;
}

.splitter,
.splitterX {
  display: flex;
  gap: 2em;
  padding: 2em 2em 2em 2em;
}

.miniPlaces {
  height: 20em;
  background-size: cover;
}

.textContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.htContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.mainHeader {
  text-align: center;
  font-size: 1.5em;
  font-family: Gilroy-Bold;
  line-height: 1.75em;
}

.description {
  text-align: left;
  font-size: 1.2em;
  font-family: Gilroy-Medium;
  line-height: 1.75em;
}

.otherContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
}

.listNum {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.listItems {
  text-align: center;
  font-size: 0.9em;
  font-family: Gilroy-Medium;
  line-height: 1em;
}

.workButton {
  font-weight: 600;
  text-decoration: underline;
  padding: 1.5em 0;
  color: #00ccff;
}

.workButton:hover {
  color: #fe5d00;
}

.ucButton {
  display: flex;
  padding: 1.5em 3em;
  justify-content: center;
  align-items: center;
  color: var(--primary-300-base, #ffffff);
  font-size: 1em;
  font-family: Gilroy-Medium;
  border-radius: 3px;
  background: #111;
  border: none;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.ucButton:hover {
  color: #111;
  background-color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

/*End*/

/*Fourth Section - Begin*/

.sixthSection {
  position: relative;
  width: 100%;
  background-color:#111;
}

@keyframes fadeBackground {
  from { background-color: #ffff; }
  to { background-color: var(
    --linear-gradient,
    linear-gradient(180deg, #000000 99.99%, rgb(0, 0, 0) 100%)
  ); }
}

.fourthSection {
  width: 100%;
  padding: 2em 3em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 5em;
}

.thContainer1 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  position: relative;
}

.footImage1 {
  width: 35%;
}

.footImage2 {
  width: 25%;
}

.hlmainHeader1 {
  display: flex;
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-family: Gilroy-Bold;
  line-height: 1.5em;
}

/*End*/

.benefitA {
  background-color: #fff;
  padding: 0em 10em;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  gap: 5em;
  align-items: center;
}

.benefitA img {
  width: 30em;
}

/*Fifth Section - Begin*/

.fifthSection {
  position: relative;
  background-image: url(images/ikoyi.jpg);
  min-height: 95vh;
  max-width: 100%;
  background-size: cover;
  transition: 1s ease-in-out;
  display: flex;
  justify-content: center;
}

.contactContainer {
  padding: 10em 7em;
  display: flex;
  gap: 7em;
  justify-content: center;
}

.infoContact {
  padding: 3em 3em;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1em;
}

.iconItems {
  gap: 1em;
  line-height: 1.5em;
  padding: 1.5em 0;
}

.icon {
  font-size: 1.2em;
  display: flex;
  justify-content: left;
  gap: 0.5em;
  font-weight: 500;
  font-family: Gilroy-medium;
}

.formDes {
  display: flex;
  flex-direction: column;
  gap: 0em;
}

.optionsDes,
.inputDes {
  border-radius: 0.3em;
  border: none;
  padding: 0.5em 1em;
}

.inputDes::placeholder {
  color: #111;
}

.messageDes {
  border-radius: 0.3em;
  border: none;
  padding: 0.5em 1em;
}

.messageDes::placeholder {
  color: #111;
}

.uaButton2 {
  padding: 1em 2em;
  gap: 0.63em;
  border: none;
  display: flex;
  justify-content: center;
  background: #fe5d00;
  border-radius: 2px;
  font-family: "Gilroy-Medium";
  font-weight: 500;
  font-size: 1em;
  color: #ffffff;
}

.uaButton2:hover {
  font-size: 1em;
  color: #fe5d00;
  top: 2em;
  background-color: #ffffff;
  text-decoration: none;
  box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.07);
}

/*End*/

/*Footer - Begin*/

.theFooter {
  position: relative;
  width: 100%;
  background-color: #000000;
}

.footer {
  padding: 4em 5em;
  padding-top: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ftLogo {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.ftItemA {
  color: #fff;
  font-size: 1em;
  font-family: Gilroy-Medium;
  line-height: 1.2em;
  width: 15em;
}

.justPad {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.ftcontainer {
  display: flex;
  flex-direction: column;
  gap: 4em;
  align-items: left;
}

.ftcontainer1 {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.myContainer {
  display: flex;
  padding: 0px 1.5em;
  flex-direction: column;
  gap: 0.5em;
}

.contHeaders {
  color: #00ccff;
  font-size: 1em;
  font-family: Gilroy-Bold;
  line-height: 1.5em;
}

.ftItems {
  color: #fff;
  font-size: 1em;
  font-family: Gilroy-Medium;
  line-height: 1.2em;
}

.ftLetters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  position: relative;
  color: #00ccff;
  font-size: 0.9em;
  font-family: Gilroy-Medium;
  line-height: 1.25em;
}

.manImage {
  width: 15em;
  height: 15em;
  border-radius: 50%;
}

.splinter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.changeColour {
  color: #ffffff;
}

/*End*/

.allowIt {
  background-color: #000000;
  color: #fff;
}

.listFlex {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  text-align: center;
  font-size: 1.4em;
  font-family: Gilroy-Medium;
  line-height: 1.75em;
}